<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Fragment1에 정의된 fragment를 가져와 연결</h1>
	<div style="background-color: yellow; height: 100px;">
		Main Area1
	</div>
	<h2>insert</h2>
	<!-- 
		Fragment를 삽입 혹은 replace하는 경우 ~{} 문법을 써서 경로를 정의하는 것이 기본 문법이나, 간단한 작업을 하는 경우 생략 가능
		th:insert = "~{연결될 view의 path :: 정의된 fragment 이름}"
	 -->
	 <div id="top" th:insert="~{fragment/fragment1::content1}">
	 	<div style="background-color: yellow; height: 100px;">
			Main Area2
		</div>
	 </div>
	 <hr>
	 <div id="menu" th:replace="fragment/fragment1::content1">
	 </div>
	 <hr>
	 <div id="menu2" th:replace="fragment/fragment1::content1">
	 </div>
	 
	 <h2>parameter를 넘겨서 사용</h2>
	 <div id="menu2" th:replace="~{fragment/fragment2::content2('parameter1','parameter2')}">
	 </div>
	 
</body>
</html>